<div id="log-in">
    <ion-card>
        <ion-card-header>
            <ion-card-title style="color: black; font-size: 2rem;">Accedi al tuo account
            </ion-card-title>
        </ion-card-header>
    </ion-card>
    <ion-row>
        <br/>
        <br/>
        <br/>
        <ion-col size-xl="4">
            <br/>
            <div style="padding-left: 10px">
                <lib-input-error-handling [item]='eMail' input_value="{{this.eMail}}" (newItemEvent)="addEmail($event)"></lib-input-error-handling>
            </div>
            <br/>
            <br/>
            <div style="padding-left: 10px">
                <lib-input-password (newItemEvent)="addPassword($event)"  input_value="{{this.input_value_cookie_password}}"></lib-input-password>
            </div>
            <br/>
            <div style="padding-left: 10px">
                <ion-item button="true" (click)="login()">Accedi</ion-item>
            </div>
            <div style="padding-left: 10px">
                <ion-item button="true" (click)="apriRegisterComponent()">Non hai ancora un account? Creane ora qui
                    uno
                </ion-item>
            </div>
            <app-social-log-in></app-social-log-in>
            <br/><br/>
            <br/><br/>
            <br/><br/>
            <br/><br/>
            <br/><br/>
            <br/><br/>
        </ion-col>
        <ion-col offset="1" size-xl="3">
            <img src="assets/images/img1.jpeg">
        </ion-col>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    </ion-row>
</div>