<ion-row *ngIf="pay">
    <ion-col size-xl="12" offset="3">
        <app-payments></app-payments>
    </ion-col>
</ion-row>
<ion-row *ngIf="!pay">
    <ion-col>
        <div id="log-in">
            <ion-card>
                <ion-card-header>
                    <ion-card-title style="color: black; font-size: 2rem;">Riepilogo ordine
                    </ion-card-title>
                </ion-card-header>
            </ion-card>
            <ion-card>
                <div class="container">
                    <div id="stepper1" class="bs-stepper">
                        <div class="bs-stepper-header">
                            <div class="step" data-target="#test-l-1" *ngIf="addressesPresent">
                                dfs
                                <button class="step-trigger">
                                    fd
                                    <span id="step1" class="bs-stepper-circle"
                                          style="background-color: #c1a977;">1</span>
                                    <span class="bs-stepper-label">Indirizzo di consegna</span>
                                    dsasd
                                    <div>{{this.client.city}}
                                    dsadoooooooo</div>
                                    <div>{{this.client.street}}</div>
                                    <div>{{this.client.cap}}</div>
                                </button>
                                fdsfd
                            </div>
                            <div class="step" data-target="#test-l-1" *ngIf="!addressesPresent">
                                <button class="step-trigger">
                                    <span id="stepx" class="bs-stepper-circle"
                                          style="background-color: #c1a977;">1</span>
                                    <span class="bs-stepper-label">Indirizzo di consegna</span>

                                    <div style="padding-left: 10px">
                                        <lib-normal-input [item]='city' (newItemEvent)="addCity($event)"></lib-normal-input>
                                    </div>
                                    <br/>
                                    <br/>
                                    <div style="padding-left: 10px">
                                        <lib-normal-input [item]='street' (newItemEvent)="addStreet($event)"></lib-normal-input>
                                    </div>
                                    <br/>
                                    <br/>
                                    <div style="padding-left: 10px">
                                        <lib-normal-input [item]='cap' (newItemEvent)="addCap($event)"></lib-normal-input>
                                    </div>
                                </button>
                            </div>

                            <div class="line"></div>
                            <div class="step" data-target="#test-l-2">
                                <button class="step-trigger">
                                    <span id="step2" class="bs-stepper-circle"
                                          style="background-color: #c1a977;">2</span>
                                    <span class="bs-stepper-label">Metodo di spedizione</span>
                                </button>
                            </div>
                            <div class="line"></div>
                            <div class="step" data-target="#test-l-3">
                                <button class="step-trigger">
                                    <span id="step3" class="bs-stepper-circle"
                                          style="background-color: #c1a977;">3</span>
                                    <span class="bs-stepper-label">Rivedi articoli e spedizione</span>
                                </button>
                            </div>
                        </div>
                        <div class="bs-stepper-content">
                            <form (ngSubmit)="onSubmit()">
                                <div id="test-l-1" class="content">
                                    <div class="form-group">
                                        {{this.client.street}}
                                        {{this.client.cap}}
                                        {{this.client.name}}
                                        {{this.client.surname}}
                                        {{this.client.phone}}
                                    </div>
                                    <ion-item button="true" (click)="next()">Next</ion-item>
                                </div>
                                <div id="test-l-2" class="content">
                                    <div class="form-group">
                                        <br/>
                                        ooooooo2
                                        <br/>
                                    </div>
                                    <ion-item button="true" (click)="next()">Next</ion-item>
                                </div>
                                <div id="test-l-3" class="content">
                                    <div style="padding-left: 10px" *ngFor="let product of this.products">
                                        {{product.name}}
                                        {{product.price}}
                                        <img src="{{this.product.img_name_ref}}" alt="" width="244">
                                    </div>
                                    <div style="padding-left: 10px">Spesa totale: {{this.totalPrice}}
                                    </div>
                                    <ion-item button="true" (click)="openPayments()">Procedi al pagamento</ion-item>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- <img src="assets/images/img1.jpeg">-->
            </ion-card>
        </div>
    </ion-col>
</ion-row>