<ion-card>
    <ion-card-header>
        <ion-card-title>Add product</ion-card-title>
    </ion-card-header>
    <ion-row>
        <lib-normal-input [item]="name" (newItemEvent)="addName($event)"></lib-normal-input>
        <br/>
        <br/>
        <br/>
        <br/>
    </ion-row>
    <ion-row>
        <lib-normal-input [item]="description" (newItemEvent)="addDescription($event)"></lib-normal-input>
        <br/>
        <br/>
        <br/>
        <br/>
    </ion-row>
    <ion-row>
        <lib-normal-input [item]="price" (newItemEvent)="addPrice($event)"></lib-normal-input>
        <br/>
        <br/>
        <br/>
        <br/>
    </ion-row>
    <ion-row>
        <lib-normal-input [item]="type" (newItemEvent)="addType($event)"></lib-normal-input>
        <br/>
        <br/>
        <br/>
        <br/>
    </ion-row>
    <div>
        <ion-input type="file" (change)="onFileChangeImage($event);" placeholder="Enter Input" value="custom">
        </ion-input>
        <div>
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                     [style.width]="(uploadProgress | async) + '%'" [attr.aria-valuenow]="(uploadProgress | async)"
                     aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <br/>
        </div>
        <div>
            <div>
                <img id="image" class="" height="200">
            </div>
        </div>
        <div>
            <div>
                <img id="image2" class="" height="200">
            </div>
        </div>
    </div>
    <ion-item button="true" (click)="addProduct()">Aggiungi prodotto</ion-item>
</ion-card>
