<ion-card id="card-image" style="width:62px;" tooltip="I'm a tooltip below a button" positionV="bottom" arrow>
    <div style="width:50px; height: 60px ; padding: 2px 2px 2px 2px">
        <ion-img id="user-image"></ion-img>
    </div>
</ion-card>
    <ion-grid class="ion-no-padding">
        <ion-row>
            <ion-col size-xl="4">
                <ion-card style="height: 100%">
                    <ion-item button="true" (click)="openProdotti()">Prodotti</ion-item>
                    <ion-item button="true" (click)="openOrdini()">Ordini</ion-item>
                </ion-card>
            </ion-col>
            <ion-col size-xl="6">
                <app-consultant-e-commerce-features *ngIf="openProducts"></app-consultant-e-commerce-features>
                <app-consultant-feature-see-orders *ngIf="openOrders"></app-consultant-feature-see-orders>
            </ion-col>
        </ion-row>
    </ion-grid>


