    <ion-row class="cookie">
        <ion-col offset="4" size-xl="4">
            <ion-card style="background: rgba(34,51,48,.9);">
                <br/>
                <div style="color: white">
                    <ion-label slot="end">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ion-label>
                    Utilizziamo cookie e tecnologie simili per abilitare servizi e funzionalità
                </div>
                <div style="color: white">
                    <ion-label slot="end">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ion-label>
                    sul nostro sito e per comprendere la tua interazione con il nostro servizio.
                </div>
                <br/>
                <div style="text-align: center;">
                    <button type="button" class="btn btn-warning" (click)="setCookie()">Accetta</button>
                </div>
                <br/>
            </ion-card>
        </ion-col>
    </ion-row>
