<ion-app>
    <ion-content>
    <app-spinner-material-component *ngIf="openComponentsService.spinner"></app-spinner-material-component>
    <ion-header>
        <ion-toolbar style="  --ion-background-color: #2e4937;" size="small">
            <a button href="https://www.google.it/" slot="end" style=" padding-right: 25px ;">BLOG</a>
            <a button href="https://www.google.it/" slot="end" style=" padding-right: 25px ;">BLOG</a>
            <a button href="https://www.google.it/" slot="end" style=" padding-right: 25px ;">BLOG</a>
            <app-push-notification></app-push-notification>
        </ion-toolbar>
            <ion-toolbar style="  --ion-background-color: white;" size="small">
                <div slot="end" style="cursor: pointer;" (click)="navigateToLogin()">
                    <ion-label slot="end" id="logged">Registrati/Accedi</ion-label>
                    <ion-icon style=" padding-right: 25px ;"
                              name="man" slot="end" style="zoom:2.8;">
                    </ion-icon>
                </div>
                <ion-label slot="end">&nbsp;&nbsp;&nbsp;</ion-label>
                <div class="icon-badge" slot="end" style="cursor: pointer;" (click)="navigateToCarrello()">
                    <ion-label slot="end">Carrello</ion-label>
                    <ion-icon
                            name="cart" slot="end" style=" padding-right: 25px" style="zoom:2.8;"></ion-icon>
                    <ion-badge id="badge" color="dark"></ion-badge>
                </div>
                <ion-label slot="end">&nbsp;&nbsp;&nbsp;&nbsp;</ion-label>
                <ion-item button="true" style="padding-top: 0px; width: 200px" tooltip="Torna alla pagina iniziale"
                          positionV="bottom" arrow (click)="returnHome()">
                    <ion-icon
                            name="home"></ion-icon>
                </ion-item>
            </ion-toolbar>
    </ion-header>


    <router-outlet></router-outlet>


        <ion-toolbar style="  --ion-background-color: #2e4937;" size="small">
            <ion-row>
                <br/>
            </ion-row>
            <ion-row>
                <ion-col offset="2">
                    <ion-label>Condividi</ion-label>
                    <br/>
                    <br/>
                    <app-social-sharing></app-social-sharing>
                </ion-col>
                <ion-col>
                    <ion-label>Chi siamo</ion-label>
                </ion-col>
                <ion-col>
                    <ion-label>Utility</ion-label>
                    <p style="color: white;">Contattaci</p>
                    <p style="color: white;">Termini d'acquisto</p>
                    <p style="color: white;">Rimborsi</p>
                </ion-col>
                <ion-col>
                    <ion-label>Pagamenti sicuri</ion-label>
                    <br/>
                    <br/>
                    <p><img src="https://veniceoriginal.it/img/cms/grafica/payment.svg" alt="" width="244"
                            height="20"></p>
                    <ion-label>Seguici su</ion-label>
                    <br/>
                    <br/>
                    <p><a href="https://www.facebook.com/veniceoriginal" target="_blank"><img
                            src="https://veniceoriginal.it/img/cms/grafica/icon-facebook_1.svg"
                            style="width: 15px; margin-right: 15px;" alt="Pagina Facebook di VeniceOriginal"
                            width="10" height="20"></a><a href="https://www.instagram.com/veniceoriginal/"
                                                          target="_blank"><img style="width: 30px;"
                                                                               src="https://veniceoriginal.it/img/cms/grafica/icon-instagram.svg"
                                                                               alt="Pagina Instagram di Venice Original"
                                                                               width="50"></a> <a
                            href="https://www.youtube.com/channel/UCPJifmVgbI9-YbT_RMmuIpw" target="_blank"><img
                            src="https://veniceoriginal.it/img/cms/grafica/icon-youtube.svg"
                            style="margin-left: 15px;" width="40"></a></p>
                </ion-col>
            </ion-row>
        </ion-toolbar>
    </ion-content>
</ion-app>


