<!--<ion-card>
<ion-row>
    <ion-col offset="3.6" size-xl="2">
        <ion-card>
            <br/>
            <br/>
            <div>Riepilogo ordine</div>
            <br/>
            <br/>
        </ion-card>
    </ion-col>
    <ion-col offset="0.1" size-xl="2">
        <ion-card>
            <br/>
            <br/>
            <div><strong>Selezionare
                metodo di pagamento</strong></div>
            <div #paypal></div>
            <br/>
        </ion-card>
    </ion-col>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
</ion-row>
</ion-card>-->
<ion-row>
    <ion-col offset="3">
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>




        <div #paypal></div>
    </ion-col>
</ion-row>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>    <br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>    <br/>
<br/>
<br/>
<br/>



