<div >
    <div class="modal-header">
        <span class="modal-title"><i aria-hidden="true"></i> Prodotto aggiunto al tuo carrello</span>
        <button type="button" class="close"  aria-label="Close" (click)="dismiss()">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row align-items-center">
            <div class="col-md-5 ">
                <div class="row  align-items-center">
                    <div class="col-6 text-center">

                            <img src="{{this.product.img_name_ref}}"
                                 >
                    </div>
                    <div class="col ">
                        <span class="text-muted"></span> <span>{{this.product.price}}&nbsp;€</span>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div>

                    <div class="cart-content-btn" (click)="navigateToCarrello()">
                        <a routerLink="/carrello"
                           class="btn btn-primary btn-block btn-lg mb-2">Procedi con il checkout</a>
                        <!--<button type="button" class="btn btn-secondary btn-block">Continua lo shopping</button>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


