<ion-row>
    <ion-col offset="1" size-xl="10">
        <ion-row>
            <ion-col offset="0.5">
                <div style="font-size:108px; text-align:center;">
                    <h5>
                            <span style="font-family:cursive;font-size:6vw; ">Benvenuti nella mia bottega</span>
                    </h5>
                </div>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="display">
            <ion-col>
                <div id="scroller" class="media-scroller" style="cursor: pointer;">
                    <div class="zoom2" (click)="apriProdotti('arredamento')">
                        <br/>
                        <img src="https://images.unsplash.com/photo-1641353989082-9b15fa661805?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODcyOA&ixlib=rb-1.2.1&q=80&w=400"
                             alt="">
                        <p class="title">Arredamento</p>
                        <br/>
                        <br/>
                    </div>
                    <div class="zoom2" (click)="apriProdotti('borse')">
                        <br/>
                        <img src="https://images.unsplash.com/photo-1641353989082-9b15fa661805?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODcyOA&ixlib=rb-1.2.1&q=80&w=400"
                             alt="">
                        <p class="title">Borse e zaini</p>
                        <br/>
                        <br/>
                    </div>
                    <div class="zoom2" (click)="apriProdotti('accessori')">
                        <br/>
                        <img src="https://images.unsplash.com/photo-1642190672487-22bde32965f7?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODcyOA&ixlib=rb-1.2.1&q=80&w=400"
                             alt="">
                        <p class="title">Accessori</p>
                        <br/>
                        <br/>
                    </div>
                    <div class="zoom2" (click)="apriProdotti('ecosostenibili')">
                        <br/>
                        <img src="https://images.unsplash.com/photo-1642190672487-22bde32965f7?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODcyOA&ixlib=rb-1.2.1&q=80&w=400"
                             alt="">
                        <p class="title">Prodotti ecosostenibili </p>
                    </div>
                    <div class="zoom2" (click)="apriProdotti('fashion')">
                        <br/>
                        <img src="https://images.unsplash.com/photo-1642190672487-22bde32965f7?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODcyOA&ixlib=rb-1.2.1&q=80&w=400"
                             alt="">
                        <p class="title">Slow fashion</p>
                    </div>
                    <div class="zoom2" (click)="apriProdotti('arazzi')">
                        <br/>
                        <img src="https://images.unsplash.com/photo-1642190672487-22bde32965f7?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODcyOA&ixlib=rb-1.2.1&q=80&w=400"
                             alt="">
                        <p class="title">Arazzi</p>
                    </div>
                    <div class="zoom2" (click)="apriProdotti('cuscini')">
                        <br/>
                        <img src="https://images.unsplash.com/photo-1642190672487-22bde32965f7?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODcyOA&ixlib=rb-1.2.1&q=80&w=400"
                             alt="">
                        <p class="title">Cuscini</p>
                        <br/>
                        <br/>
                    </div>
                    <div class="zoom2" (click)="apriProdotti('collane')">
                        <br/>
                        <img src="https://images.unsplash.com/photo-1642190672487-22bde32965f7?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODcyOA&ixlib=rb-1.2.1&q=80&w=400"
                             alt="">
                        <p class="title">Collane</p>
                        <br/>
                        <br/>
                    </div>
                    <div class="zoom2" (click)="apriProdotti('orecchini')">
                        <br/>
                        <img src="https://images.unsplash.com/photo-1642190672487-22bde32965f7?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODcyOA&ixlib=rb-1.2.1&q=80&w=400"
                             alt="">
                        <p class="title">Orecchini</p>
                        <br/>
                        <br/>
                    </div>
                    <div class="zoom2" (click)="apriProdotti('cappelli')">
                        <br/>
                        <img src="https://images.unsplash.com/photo-1642190672487-22bde32965f7?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODcyOA&ixlib=rb-1.2.1&q=80&w=400"
                             alt="">
                        <p class="title">Cappelli</p>
                        <br/>
                    </div>
                    <div class="zoom2" (click)="apriProdotti('sciarpe')">
                        <br/>
                        <img src="https://images.unsplash.com/photo-1642190672487-22bde32965f7?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODcyOA&ixlib=rb-1.2.1&q=80&w=400"
                             alt="">
                        <p class="title">Sciarpe</p>
                        <br/>
                    </div>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <div *ngFor="let item of this.listElements">
                <ion-card>
                    <ion-col>
                        <br/>
                        <div style="margin-left: 30px; margin-right: 30px;" >
                            <div style="cursor: pointer;" id="acquista-prodotto-button" (click)="displayProductInfoModal(item)">
                                <div>
                                    <br/>
                                    <div class="zoom">
                                        <img id="img-product" src="{{item.img_name_ref}}"  height="160vw">
                                    </div>
                                </div>
                                <div style="font-family: Vollkorn">
                                    <br/>
                                    {{item.name}}
                                </div>
                                <hr class="solid">
                                <div>
                                    <strong>
                                        {{item.description}}
                                    </strong>
                                </div>
                                <div style="color: black">
                                    <strong >
                                        {{item.price}} &euro;
                                    </strong>
                                </div>
                            </div>
                        </div>
                        <br/>
                    </ion-col>
                </ion-card>
            </div>
        </ion-row>
    </ion-col>
</ion-row>
